<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anthropic.SDK" version="4.0.0" manuallyInstalled="true" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" manuallyInstalled="true" />
  <package id="Google.Api.Gax" version="4.8.0" />
  <package id="Google.Api.Gax.Rest" version="4.8.0" />
  <package id="Google.Apis" version="1.68.0" />
  <package id="Google.Apis.Auth" version="1.68.0" manuallyInstalled="true" />
  <package id="Google.Apis.Core" version="1.68.0" />
  <package id="Google.Apis.Drive.v3" version="1.68.0.3544" manuallyInstalled="true" />
  <package id="Google.Apis.Storage.v1" version="1.67.0.3365" />
  <package id="Google.Cloud.Storage.V1" version="4.10.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="NLayer" version="1.16.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="OpenAI" version="2.1.0" manuallyInstalled="true" />
  <package id="OpenAI-DotNet" version="8.5.4" manuallyInstalled="true" />
  <package id="System.ClientModel" version="1.2.1" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" />
  <package id="System.Management" version="7.0.2" />
  <package id="System.Memory.Data" version="6.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.10" />
</packages>